.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.head {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}


.skills-card {
  display: flex;
  width: 50%;
  margin: auto;
  background-color: white;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.skills-card-name {
  width: 35%;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-card-name p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}



.skills-list {
  width: 65%;
  padding: 1rem;
}

.skills-list li {
  line-height: 2;
}

#hard-skills-card-name {
  background-color: rgb(237, 59, 90);
}

#hard-skills-card-name p {
  position: absolute;
  top: 45%;
  left: 9%;
}

#soft-skills-card-name p {
  position: absolute;
  top: 43%;
  left: 9%;
}

#very-soft-skills-card-name p {
  position: absolute;
  top: 35%;
  left: 1%;
}

#soft-skills-card-name {
  background-color: rgb(237, 59, 90);
  opacity: 0.9;
}

#very-soft-skills-card-name {
  background-color: rgb(237, 59, 90);
  opacity: 0.8;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: 'Source Code Pro', monospace;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin-top: 1rem;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline a {
/*  color: #b5838d;*/
  color: black;
  opacity: 0.3;
  text-decoration: none;
  font-size: 30px;
}

.list-inline a:hover {
  opacity: 1;
  transition-duration: 2s;
}

.project-card {
  height: 28rem;
  width: 20rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

.project-card img {
  width: 96%;
  margin: 2%;
}

.projets {
  display: flex;
  justify-content: space-between;
}


.list-inline-projet {
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 1.5rem;
}

.list-inline-projet > li {
  display: inline-block;
  background-color: rgb(237, 59, 90);
  padding: 5px;
  margin: 3px;
  color: white;
  border-radius: 5px;
}

.projet-card-description {
  font-size: 12px;
  text-align: center;
}

.projet-card-titre {
  text-align: center;
}

/*.projet-div-technos {
  height: 30%;
}*/

.projet-div-texte {
  height: 10rem;
  margin: 2px;
}

.projet-card-texte {
  margin-top: 1rem;
}

.footer {
  height: 10rem;
  background-color: white;
  margin-top: 3rem;
}

.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  margin-top: 2rem;
}

.contacts-liste {
  margin-top: 2rem;
}

.caroussel-img {
  height: 60vh;
  width: 100%;
  object-fit: contain;
}

.modal-dialog {
  max-width: 900px; !important
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
/*  border-radius: 50%;
  border: 1px solid black;*/
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(237, 59, 90);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(237, 59, 90);
}

/*.carousel-indicators li {
    border-color: #777;
}*/

.carousel-indicators .active {
    background-color: rgb(237, 59, 90);
}

.btn-red {
  background-color: rgb(237, 59, 90);
  border: 1px solid rgb(237, 59, 90);
  color: white;
}

.btn-red:hover {
  background-color: white;
  color: rgb(237, 59, 90);
  transition-duration: 0.3s;
}

h1 {
  text-align: center;
}

.hr-portfolio{
  margin-top: 2rem;
}

.hr-skills {
  margin-top: 4rem;
}

.hr-bottom-portfolio {
  margin-bottom: 3rem;
}

.top-hr-propos {
  margin-top: 4rem;
}

.bottom-hr-propos {
  margin-bottom: 3rem;
}

.photo-propos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}


.list-inline-menu {
  list-style: none;
  margin-top: 18px;
}

.list-inline-menu > li {
  display: inline-block;
}

.list-inline-menu a {
/*  color: #b5838d;*/
  text-decoration: none;
  color: rgb(237, 59, 90);
  border: 1px solid rgb(237, 59, 90);
  border-bottom-width: 2px;
  padding: 3px;
  margin: 12px;
}

.list-inline-menu a:hover {
  background-color: rgb(237, 59, 90);
  color: white;
  transition-duration: 0.3s;

}

.contact-titre {
  border-bottom: 1px solid rgb(237, 59, 90);
}

.contact-titre {
  text-decoration: none;
  color: #212529;
}

